:root {
  --main: #463dff;
  --dark: #1D1D1D;
  --grey: #242424;
  --md-grey: #767676;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  padding-top: 200px;
  background-color: var(--dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
}

tr {
  display: flex;
  margin-bottom: 15px;
}

th {
  color: white;
  background-color: var(--grey);
  width: 120px;
  height: 50px;
  border: solid 2px var(--md-grey);
  border-radius: 4px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  cursor: pointer;

  transform: scale(1);
  transition: all 0.1s;
}

th:active,
th.active {
  transform: scale(1.075);
}

td {
  width: 50px;
  height: 50px;
  margin-left: -2px;
  border: solid 2px var(--md-grey);
  
  cursor: pointer;
}

td:nth-child(even) {
  background-color: var(--grey);
}

td.full {
  background-color: var(--main);
}

tr:first-of-type td {
  position: relative;
}
tr:first-of-type td::after {
  content: '';
  display: block;
  height: 5px;
  width: 50px;
  position: absolute;
  left: -2px;
  top: -12px;
  background-color: var(--main);
  opacity: 0;
  transition: all 0.1s;
}

tr:first-of-type td.current::after {
  opacity: 1;
  top: -15px;
}

.controls-container {
  display: flex;
  gap: 20px;
}

button {
  width: 50px;
  height: 50px;
  border: solid 2px var(--md-grey);
  border-radius: 4px;
  background-color: var(--dark);
  position: relative;
  bottom: 0;
  transition: all 0.3s;
}
button:hover {
  background-color: var(--grey);
  bottom: 5px;
  cursor: pointer;
}